<table class="dv-table" border="0" style="width:100%;">
    <tr>
        <td rowspan="3" style="width:60px">
            <img src="1.jpg" style="width:60px;margin-right:20px" />
            
        </td>
        <td class="dv-label">Item ID: </td>
        <td>qq</td>
        <td class="dv-label">Product ID:</td>
        <td>qqq</td>
    </tr>
    <tr>
        <td class="dv-label">List Price: </td>
        <td>222</td>
        <td class="dv-label">Unit Cost:</td>
        <td>33</td>
    </tr>
    <tr>
        <td class="dv-label">Attribute: </td>
        <td colspan="3">ww</td>
    </tr>
</table>